#aula1{
    background-image: url(https://i.ytimg.com/vi/No6n6r5INkU/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDF5CWhu84hjB_aU-V4G80GOlBVsQ);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula2{
    background-image: url(https://i.ytimg.com/vi/T0NjJ7RApmY/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDUulTmQfMbheNpesMEfF9kPizQzw);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula3{
    background-image: url(https://i.ytimg.com/vi/Fem-R7n59O8/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBctBD1ho7JDgBxuJSiLxl09fTs0A);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula4{
    background-image: url(https://i.ytimg.com/vi/hOu2AJ2tq3A/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCC6dnlboBWxwrk72cqWApP5DKNLg);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula5{
    background-image: url(https://i.ytimg.com/vi/__zyNB3WAa0/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAvMUqcwDrCv6Wf2Ep3uCdodeEh2g);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula6{
    background-image: url(https://i.ytimg.com/vi/C5Lydghooyg/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBmRiPut9hNhWtDHWLFAi0zOfciFQ);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula7{
    background-image: url(https://i.ytimg.com/vi/0u-yvb_ruDo/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAE4jf_IQE1zJDgIGasn_K04jVpBA);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula8{
    background-image: url(https://i.ytimg.com/vi/UTHHEOqJIaU/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB10GaP7kbq0Y3sg70VCDnGpFVm-w);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula-1{
    background-image: url(https://i.ytimg.com/vi/PHRnaLn-jEM/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDQx9vZ5Db6pVeAIv-lGoMx9BjIuA);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula-2{
    background-image: url(https://i.ytimg.com/vi/SZZT8Lwwtn8/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAyWdyXq76ehyg6i25PUjlVxIeRvA);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula-3{
    background-image: url(https://i.ytimg.com/vi/ngWPQwQn0IA/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBMfottGHODeh1lnQi2dEYVVkqvwQ);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula-4{
    background-image: url(https://i.ytimg.com/vi/XhIhyI95mio/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBbGMX9StQNelwwRpiP7jqM7UsXKg);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula-5{
    background-image: url(https://i.ytimg.com/vi/Byy-bz1S3Lk/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAJAAUqlvMwW0TeX3iMaFeSvmi-Rg);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula-6{
    background-image: url(https://i.ytimg.com/vi/XYi3vt36k8k/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD0LVn7cF_yyxDC_KrzzhcFyG2FVg);
    background-repeat: no-repeat;
    background-size: contain;
}

#aula-7{
    background-image: url(https://i.ytimg.com/vi/kQNuE14dmuI/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDwoPdX87GcPZQpMlvCP_-ZhsktlQ);
    background-repeat: no-repeat;
    background-size: auto;
}

#aula-8{
    background-image: url(https://i.ytimg.com/vi/z2qBanCTDu0/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD7e1aSobw4gQZbxb3A5v9eqpWePA);
    background-repeat: no-repeat;
    background-size: auto;
}

p{
    position: relative;
    margin-top: 210px;
}